.container{
  @apply flex-col my-0 mx-auto py-9 px-4 flex flex-row items-center h-[80vh] text-white ;
  overflow: none;


  @screen lg{
    @apply text-white max-w-[1440px] my-0 mx-auto py-9 px-4 flex flex-row items-center h-[80vh] ;
    overflow: hidden;
  }
}

.content_1{

  @apply max-w-xl flex flex-col items-start;

  >p{

    @apply my-8 ;
  }

  .buttons{
   >a{
    @apply mr-4 ;
   }
  }

  .dev{

    @apply mt-4 flex w-auto items-center ;
    img{
      width: 3rem;
      height: 3rem;
    }
    >img{
      @apply mr-4;
    }
  }
}

.content_2{

  .spider{
    @apply  w-full;

    @screen lg{
      @apply translate-x-[-120px] scale-110;
    }
  }

}


.loading {
  @apply w-full h-full absolute top-0 left-0 z-50 flex justify-center items-center overflow-hidden;
  background: linear-gradient(225deg, #E42B2F 0%, #AB0E12 100%);

  .loading_logo_spiderman {
    fill: transparent;

    animation: spider 12s ease infinite alternate;


    @keyframes spider {
      0% {
        stroke-width: 0;
        stroke-dasharray:1 100 ;
        fill: transparent;
      }

      25% {
        stroke-width: 1;
        stroke-dasharray: 100 1;
        fill: transparent;
      }

      60%,
      100% {
        stroke-width: 0.3;
        fill: #fff;
      }
    }
  }
}
